API_PORT=4100
INFLUX_URL=http://10.10.1.210:8086
INFLUX_TOKEN=replace-with-token
INFLUX_ORG=mist
INFLUX_BUCKET=mist_telemetry
INFLUX_MEASUREMENT=mist_telemetry
INFLUX_PI_MEASUREMENT=pi_telemetry
MOCK_DATA=false
